h2 {
  color: #333;
}

.container {
  margin-top: 20px;
}

.row {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.p-dropdown,
.p-dropdown-items {
  width: 100%;
}

.grid-dropdown,
.grid-input,
.grid-button {
  margin-right: 1%;
}

.filter-row {
  margin-bottom: 1%;
}

::ng-deep .p-calendar .p-calendar-clear-icon {
  margin-right: 1.5rem;
  margin-top: 0;
}

.table-container {
  position: relative;
  margin-top: 1%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

app-json-dialog {
  position: fixed;
  z-index: 9999;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.json-dialog-content {
  padding: 20px;
}

.json-dialog-content pre {
  white-space: pre-wrap;
}

.view-button {
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.view-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.no-result {
  color: #757575; /* Gray text for no result */
}

.badge {
  border-radius: 4px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75em;
  letter-spacing: 0.3px;
}

.badge.status-success {
  background: #c8e6c9;
  color: #256029;
}

.badge.status-failed {
  background: #ffcdd2;
  color: #c63737;
}

.badge.status-pending {
  background: #dadada;
  color: #424242;
}

.badge.status-in-progress {
  background: #abcdef;
  color: #1558be;
}

.badge.status-awaiting-confirmation {
  background: #d7d7d7;
  color: #424242;
}

.badge.status-queued-confirmation {
  background: #f9ffa4;
  color: #8e78fd;
}

:host ::ng-deep {
  .channel-type-email {
    background: #d2e2ff;
  }

  .channel-type-whatsapp {
    background: #d2f4d2;
  }

  .channel-type-sms {
    background: #ecea7f;
  }

  .channel-type-pushsns {
    background: #dcbaf9;
  }

  .channel-type-voicecall {
    background: #f9e5ba;
  }

  .channel-type-unknown {
    background: #d4d4d4;
  }

  .channel-type-text {
    color: #242424;
    font-size: 0.85em;
    font-weight: 600;
  }

  .channel-type-icon {
    width: 1.8em;
  }
}

.grid-row {
  display: grid;
  grid-template-columns: auto auto; /* Two columns: one for each div */
  justify-content: space-between; /* Space between the two divs */
  align-items: center; /* Align items vertically in the center */
  width: 100%; /* Ensure it spans the container width */
  box-sizing: border-box; /* Include padding in the total width */
}

.grid-row-left {
  display: flex; /* Arrange input and buttons horizontally */
  gap: 1em; /* Add space between input and buttons */
}

.grid-row-right {
  display: flex; /* Arrange buttons horizontally */
  gap: 1em; /* Add space between buttons */
}
