<div class="p-grid p-justify-center container">
  <h2 class="p-col-12">Notifications</h2>

  <p-toast key="tst"></p-toast>

  <div class="p-grid">
    <div class="p-col-12 p-md-3 filter-row">
      <p-dropdown
        [options]="channelTypes"
        [(ngModel)]="selectedChannelType"
        placeholder="Select a Channel Type"
        class="grid-dropdown"
        [showClear]="true"
        (onChange)="loadNotificationsLazy({ first: 0, rows: this.pageSize })"
      ></p-dropdown>
      <p-dropdown
        [options]="deliveryStatuses"
        [(ngModel)]="selectedDeliveryStatus"
        placeholder="Select a Delivery Status Type"
        class="grid-dropdown"
        [showClear]="true"
        (onChange)="loadNotificationsLazy({ first: 0, rows: this.pageSize })"
      ></p-dropdown>
      <p-calendar
        [(ngModel)]="selectedFromDate"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [maxDate]="maxDateFrom"
        placeholder="Select Date From"
        class="grid-dropdown"
        [readonlyInput]="true"
        [showClear]="true"
        (onClear)="loadNotificationsLazy({ first: 0, rows: this.pageSize }); onFromDateClear()"
        (onSelect)="loadNotificationsLazy({ first: 0, rows: this.pageSize }); onFromDateChange()"
      ></p-calendar>
      <p-calendar
        [(ngModel)]="selectedToDate"
        [iconDisplay]="'input'"
        [showIcon]="true"
        [maxDate]="maxDateTo"
        [minDate]="minDateTo"
        placeholder="Select Date To"
        class="grid-dropdown"
        [readonlyInput]="true"
        [showClear]="true"
        (onClear)="loadNotificationsLazy({ first: 0, rows: this.pageSize }); onToDateClear()"
        (onSelect)="loadNotificationsLazy({ first: 0, rows: this.pageSize }); onToDateChange()"
      ></p-calendar>
      <p-dropdown
        [options]="applications"
        [(ngModel)]="selectedApplication"
        placeholder="Select an Application"
        class="grid-dropdown"
        [showClear]="false"
        (onChange)="loadNotificationsLazy({ first: 0, rows: this.pageSize })"
        *ngIf="allApplicationsList.length !== 0"
      ></p-dropdown>
    </div>
    <div class="p-col-12 p-md-3 filter-row">
      <input
        type="email"
        pInputText
        [(ngModel)]="searchValue"
        placeholder="Search Notifier Email"
        class="grid-input"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        #searchInput="ngModel"
      />
      <p-button
        (onClick)="loadNotificationsLazy({ first: 0, rows: this.pageSize })"
        label="Search"
        class="grid-button"
        [disabled]="searchInput.invalid || !searchInput.value"
      />
      <p-button
        (onClick)="onSearchClear(); loadNotificationsLazy({ first: 0, rows: this.pageSize })"
        label="Clear"
        class="grid-button"
        severity="danger"
        [disabled]="!searchValue"
      />
    </div>
  </div>

  <div class="p-grid table-container">
    <div class="p-col-12">
      <p-table
        [value]="notifications"
        [rows]="pageSize"
        [paginator]="true"
        [totalRecords]="totalRecords"
        lazy="true"
        (onLazyLoad)="loadNotificationsLazy($event)"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="pageSizeOptions"
        [loading]="loading"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Notification ID</th>
            <th>Channel Type</th>
            <th>Created By</th>
            <th>Created On</th>
            <th>Updated By</th>
            <th>Updated On</th>
            <th>Delivery Status</th>
            <th>Data</th>
            <th>Result</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-notification>
          <tr>
            <td>{{ notification.id }}</td>
            <td>
              <div class="flex align-items-center gap-2">
                <p-tag
                  [styleClass]="
                    'channel-type-' +
                    (
                      channelTypeMap[notification.channelType] ||
                      channelTypeMap[allPortalChannelTypes.UNKNOWN]
                    ).style
                  "
                  [rounded]="true"
                >
                  <img
                    [alt]="
                      (
                        channelTypeMap[notification.channelType] ||
                        channelTypeMap[allPortalChannelTypes.UNKNOWN]
                      ).altText
                    "
                    [src]="
                      (
                        channelTypeMap[notification.channelType] ||
                        channelTypeMap[allPortalChannelTypes.UNKNOWN]
                      ).serviceIcon
                    "
                    class="channel-type-icon"
                  />
                </p-tag>
                <p-tag
                  [styleClass]="
                    'channel-type-text channel-type-' +
                    (
                      channelTypeMap[notification.channelType] ||
                      channelTypeMap[allPortalChannelTypes.UNKNOWN]
                    ).style
                  "
                >
                  <div class="flex align-items-center gap-2">
                    {{
                      (
                        channelTypeMap[notification.channelType] ||
                        channelTypeMap[allPortalChannelTypes.UNKNOWN]
                      ).providerName
                    }}
                    <img
                      [alt]="
                        (
                          channelTypeMap[notification.channelType] ||
                          channelTypeMap[allPortalChannelTypes.UNKNOWN]
                        ).providerName
                      "
                      [src]="
                        (
                          channelTypeMap[notification.channelType] ||
                          channelTypeMap[allPortalChannelTypes.UNKNOWN]
                        ).providerIcon
                      "
                      class="channel-type-icon"
                    />
                  </div>
                </p-tag>
              </div>
            </td>
            <td>{{ notification.createdBy }}</td>
            <td>{{ notification.createdOn | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{ notification.updatedBy }}</td>
            <td>{{ notification.updatedOn | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>
              <span
                [class]="'badge status-' + deliveryStatusMap[notification.deliveryStatus].style"
              >
                {{ deliveryStatusMap[notification.deliveryStatus].value }}
              </span>
            </td>
            <td>
              <button class="view-button" (click)="showJsonObject(notification.data)">
                View Data
              </button>
            </td>
            <td>
              <button
                *ngIf="notification.result"
                class="view-button"
                (click)="showJsonObject(notification.result)"
              >
                View Result
              </button>
              <span *ngIf="!notification.result">No Result</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <app-json-dialog
        *ngIf="jsonDialogData"
        [jsonData]="jsonDialogData"
        [visible]="jsonDialogVisible"
        (closeDialog)="closeJsonDialog()"
      ></app-json-dialog>
    </div>
  </div>
</div>
