<div class="flex align-items-center justify-content-center overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div style="border-radius: 56px" class="bg-primary my-5 p-1">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">Welcome!</div>
          <span class="text-600 font-medium">Sign in to continue</span>
        </div>
        <p-toast key="tst"></p-toast>
        <form id="login-form" class="form" [formGroup]="loginForm" (ngSubmit)="loginWithUsername()">
          <label for="username" class="block text-900 text-xl font-medium mb-2">Username</label>
          <input
            id="username"
            formControlName="selectedUsername"
            type="text"
            pInputText
            class="w-full md:w-30rem"
            style="padding: 1rem"
          />
          <div class="mt-1" *ngIf="selectedUsername?.invalid && selectedUsername?.touched">
            <small id="username-help" class="p-error">Username cannot be empty</small>
          </div>

          <label for="password" class="block text-900 font-medium text-xl mt-5 mb-2"
            >Password</label
          >
          <p-password
            id="password"
            formControlName="selectedPassword"
            [toggleMask]="true"
            inputStyleClass="w-full p-3 md:w-30rem"
            [feedback]="false"
          ></p-password>
          <div class="mt-1" *ngIf="selectedPassword?.invalid && selectedPassword?.touched">
            <small id="password-help" class="p-error">Password cannot be empty</small>
          </div>

          <div class="flex align-items-center justify-content-between mt-5 mb-5 gap-5"></div>
          <button
            pButton
            pRipple
            [disabled]="loginForm.invalid"
            label="Sign In"
            class="w-full p-3 text-xl"
            [routerLink]="['/notifications']"
            [loading]="loading"
          ></button>
        </form>
      </div>
    </div>
  </div>
</div>
