# Server
SERVER_PORT=
REQUEST_MAX_SIZE= # Max Size of Request, Default is 50mb
CLEANUP_IDLE_RESOURCES=false # Cleans up idle queues if inactive for the specified duration, default false
IDLE_TIMEOUT=30m # How long the queue should be idle before being considered for deletion, default 30m
CLEANUP_INTERVAL=7d # Frequency for running the cleanup, use formats from https://github.com/vercel/ms, default 7d
JWT_SECRET=your-strong-secret-key-here # A strong secret key for signing your JWTs. This should be a long, random string.
JWT_EXPIRES_IN=30d # Common formats are '60s', '10m', '1h', '1d', etc
SALT_ROUNDS=10 # Number of salt rounds for bcrypt
API_KEY_SECRET=your-secret # Replace with a strong, unique secret for API authentication

# Node env
NODE_ENV= # Use "development" for graphql playground to work

# Notification configuration
MAX_RETRY_COUNT=3 # Max retry count, default is 3

# Crypto
ALGORITHM=aes-256-cbc
KEY=your_base64_encoded_key

# Log Level
LOG_LEVEL=info # Log level, default is info

# Database configuration
DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
MARIADB_DOCKER_PORT=3307

# Redis configuration
REDIS_HOST=
REDIS_PORT=
REDIS_DOCKER_PORT=6397

# Docker env
COMPOSE_PROJECT_NAME=osmox-api  # Add your project name here.