# Server
SERVER_PORT=
REQUEST_MAX_SIZE= # Max Size of Request, Default is 50mb
CLEANUP_IDLE_RESOURCES=false # Cleans up idle queues if inactive for the specified duration, default false
IDLE_TIMEOUT=30m # How long the queue should be idle before being considered for deletion, default 30m
CLEANUP_INTERVAL=7d # Frequency for running the cleanup, use formats from https://github.com/vercel/ms, default 7d

# Node env
NODE_ENV= # Use "development" for graphql playground to work

# Database configuration
DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
MARIADB_DOCKER_PORT=3307

# Redis configuration
REDIS_HOST=
REDIS_PORT=
REDIS_DOCKER_PORT=6397

# Docker env
COMPOSE_PROJECT_NAME=osmox-api  # Add your project name here.